::selection { /* Optional */
  /* It can be really hard to read highlighted text with a text-shadow, it should be removed when selected */
  text-shadow: none;
  
  /* NOTE: Using this means the color and background-color are set to transparent for selected text... */
  /* So you can customise your styles below */
  color: #2985EE;
  background-color: #FAFFD7;
}

html {
  /* Make base font-size 100% of browser font-size */
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
  }
}

*,
*::before,
*::after,
html {
  /* Declare your box-sizing here
  /* https://css-tricks.com/box-sizing */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* outras opções - content-box */
}

body {
  /* Declare your default font stack here */
  font-family: "Font Stack", sans-serif, serif, monospace, cursive, fantasy;
  /* outras opções - serif, monospace, cursive, fantasy */

  /* Better text rendering - font-smoothing has not been officially declared, but can still be useful */
  text-rendering: geometricPrecision;
  /* outras opções -optimizeLegibility | optimizeSpeed */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* For responsive images that adjust & adapt */
  height: auto;
  max-width: 100%;
  
  /* This isn't needed, but as a user, I get frustrated when I highlight text and the image gets highlighted too */
  user-select: none;
}

button {
  color: inherit; /* By default, buttons don't inherit the font colour, this is a useful default to override */
}

a, button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

svg {
  /* Make the SVGs fit the parent container by default */
  height: 100%;
  width: 100%;
  
  /* Optional - make the SVG's fill be the same as the inherited color */
  fill: currentColor;
  
  /* Prevent the SVG from altering cursor interaction */
  pointer-events: none;
}

iframe, video {
  /* Make iframes & videos fit the parent container by default */
  height: 100%;
  width: 100%
}

/******************************************************************************************************** O SEU CÓDIGO COMEÇA DEPOIS DESTE COMENTÁRIO ********************************************************************************************************/
:root {
  /*===== Colors=====*/
  --cor-texto-corrido: #ffffff;
  --background-cor: #2985EE;
  --cor-primaria: #2985EE;
  --cor-bottoms: #FAFFD7;
  --cor-link: #ffe600;

  /*========Font weight======================*/
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 800;

  /*==== Z Index ======*/
  --z-tooltip:10;
  --z-fixrd:100;


}
body {
  font-family:"Montserrat", sans-serif;
  font-size: 16px; 
  color: #FAFFD7;
  background-color: #2985EE;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Air Americana, sans-serif;}
 /* @font-face {
  font-family: myFirstFont;
  src: url(../ fonts/sansation_light.woff);
}*/
h1{
  font-size: 2.986rem;
  font-weight: 700;
  letter-spacing: 0.22rem;
  line-height: 1.5;
}
h2{
  font-size: 2.488rem;
  font-weight: 700;
  line-height: 1.15;
}

/* Definição da tipografia para desktop*/

@media (min-width: 992px){

h1{
  font-size: 7.986rem;

}
h2{
  font-size: 5.488rem;
  
}
}